<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Peas and Qs</title>
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js">
  <script src="/js/script.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
