<!DOCTYPE html>
<html>
<% include ./partials/header -%>
<body>
  <div id="wrapper">
    <div id="header">
      <header>
        <h2>Peas &amp; Qs</h2>
       <nav>
            <a href="/" class="mainmenu">home</a>
            <a href="#" class="mainmenu">info</a>
        </nav>
      </header>
    </div>
    <div id="main">
      <h1>Welcome design lover! Peas and Qs aims to bring inspiration and gives you the freedom to share a like with others</h1>
      <p>Here's a sample of what's inside</p>
    </div>
    <section class="cards">
      <article>
        <span class="imagery"><img src="http://content.freshmedleydesigns.com/media/wdiphotos/qoute2.png" alt=""></span>
      </article>
      <article>
        <span class="imagery"><img src="http://content.freshmedleydesigns.com/media/wdiphotos/qoute3.png" alt=""></span>
      </article>
    </section>
    <section id="ctas">
      <button><a href="/member/join">Join Now</a></button> <button>Login</button>
    </section>
  </div>
</body>
</html>
