<!DOCTYPE html>
<html>
<% include ./partials/header -%>
<body>
  <div id="wrapper">
    <div id="header">
      <header>
        <h2>Peas &amp; Qs</h2>
        <nav>
            <a href="/" class="mainmenu">home</a>
            <a href="#" class="mainmenu">info</a>
        </nav>
      </header>
    </div>
    <div id="main">
      <h1>QOTD SECTION WOULD GO HERE</h1>
      <p><%= quote:title %></p>
    </div>
    <section class="cards">
      <article class="">
        <span class="imagery"><img src="http://content.freshmedleydesigns.com/media/wdiphotos/qoute1.png" alt=""></span>
      </article>
      <article>
        <span class="imagery"><img src="http://content.freshmedleydesigns.com/media/wdiphotos/qoute2.png" alt=""></span>
      </article>
      <article>
        <span class="imagery"><img src="http://content.freshmedleydesigns.com/media/wdiphotos/qoute3.png" alt=""></span>
      </article>
    </section>
  </div>
</body>
</html>
