<!DOCTYPE html>
<html>
<% include ./partials/header -%>
<body>
  <div id="wrapper">
    <div id="header">
      <header>
        <h2>Peas &amp; Qs</h2>
        <nav>
            <a href="/" class="mainmenu">home</a>
            <a href="#" class="mainmenu">info</a>
        </nav>
      </header>
    </div>
    <div id="main">
      <section>
        <h1>Be:<span class="italic2">inspired</span></h1>
        <h2 class="theQuote"> <%- quote.content %></h2>
        <p class="authors"> <span class="italicMini">by</span> - <%= quote.title %></p>
        <hr>
      </section>
    </div>
    <section class="cards">
      <article class="">
        <span class="imagery"><span class="st_facebook_large" st_url="http://sharethis.com" st_title="Sharing is great!"><img src="http://content.freshmedleydesigns.com/media/wdiphotos/qoute1.png" alt=""></span></span>
      </article>
      <article>
        <span class="imagery"><img src="http://content.freshmedleydesigns.com/media/wdiphotos/qoute2.png" alt=""></span>
      </article>
      <article>
        <span class="imagery"><img src="http://content.freshmedleydesigns.com/media/wdiphotos/qoute3.png" alt=""></span>
      </article>
    </section>


</body>
</html>
