<!DOCTYPE html>
<html>
<% include ../partials/header %>
<body>
  <form action="/member/login" method="post">
    <label for="">Email:</label>
    <input type="text" name="email"><br>
    <label for="">Password:</label>
    <input type="password" name="password"><br>
    <input type="submit" value="Login">
  </form>
</body>
</html>
